<form action="answer" data-turbo="false">
  <div class="form-group">
    <label class="mb-3 mt-3" for="askQuestion">Ask your coach a question:</label>
    <input class="form-control mb-3" type="text" name="question" placeholder="Ask here">
  </div>
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
